.сontainer{
    width: 1180px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
legend{
    text-align: center;
}
.email{
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*common*/
body{
	font-family: 'Open Sans', sans-serif;
	color:#273044;
	font-size:14px;
}
a{
	color:#23527c;
	transition: all .25s ease;
}
a:focus{
	color:inherit;
}
a:hover{
	color:inherit;
}
.color-normal{
	color:#273044;
}
.color-black{
	color:#000;
}
.color-gray{
	color:#777;
}
.color-gray2{
	color: #aaa;
}
.color-white{
	color:#ffffff;
}
.color-orange{
	color:#eab830;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
}

.w20px{
	width:20px;
}
.flex-100{
	flex:1;
	width:100%;
}
.bg-blue{
	background:#2c76e3;
	color:#fff;
	padding:5px 0;
}
.bg-blue a{
	color:#fff;
	text-decoration:none;
}
.bg-blue a:hover{
	color: #eab830;
}
.bg-blue a.fancybox{
	display:inline-block;	
	border:1px solid #fff;
	padding:3px 10px;
	border-radius:5px;
}
.bg-blue a.fancybox:hover{
	border:1px solid #eab830;
}
.city-popup{
	width:1100px;
}
.search-city{
	width:30%;
	margin-bottom:30px;
	position:relative;
}
.search-city input[type=text]{
    background: #ebebeb;
	height:40px;
	border-radius:5px;
	border:0;
	line-height:40px;
	padding:0 15px 0 50px;
	width:100%;
	outline:0;
}
.search-city button{
	position:absolute;
	top:0;
	border:0;
	outline:0;
	cursor:pointer;
	color:#777;
	left:0;
	height:40px;
	width:40px;
	text-align:center;
	line-height:40px;
	background:transparent;
}
.regions-block .regions-group{
	width:30%;
	margin-right:30px;
	max-height:calc(100vh - 280px);
	overflow:auto;
}
.regions-results-block{
	height:calc(100vh - 280px);
	overflow:auto;
}
.regions-block .regions-group .letter-block{
	position:relative;
	padding-left:25px;
}
.regions-block .regions-group .letter-block .letter{
	font-size:16px;
	color:#777;
	position:absolute;
	left:0;
	top:3px;
}
.regions-block .regions-group .letter-block a,.regions-block .regions-container a,.regions-results-block a{
	display:inline-block;
	text-decoration:none;
	padding:5px 10px;
	border-radius:5px;
}
.regions-block .regions-group .letter-block a.active,.regions-block .regions-group .letter-block a:hover,
.regions-block .regions-container a.active,.regions-block .regions-container a:hover,
.regions-results-block a.active,.regions-results-block a:hover{
	background:#eab830;
	color:#fff;	
}
.regions-container{
	flex:1;
	width:100%;
	max-height:calc(100vh - 280px);
	overflow:auto;
	padding:0 10px;
}
.menu > ul{
	display:flex;
	list-style:none;
	margin:0;
	padding:0;
}
.menu > ul ul{
	visibility: hidden;
    width: 225px;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 10px 0 0 -20px;
    padding: 10px 0;
    background-color: #fff;
    list-style: none;
    opacity: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
	list-style:none;
	transition: all .25s ease;
}
.menu > ul li:nth-child(3) ul{
	left:auto;
	right:0;
}
.menu > ul li:hover ul {
    margin-top: 4px;
    visibility: visible;
    opacity: 1;
	z-index:10;
}
.menu > ul ul:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: 10;
    top: 0;
    left: 0;
    background: #eab830;
}
.menu > ul ul a{
	display:block;
	color: #000;
	padding:4px 20px;
	font-size: 13px;
	text-decoration:none;
}
.menu > ul ul a:hover{
	 color: #eab830;
}
.menu > ul > li{
	position:relative;
}
.menu > ul > li > a{
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	text-transform: uppercase;
	display:inline-block;
	padding:0 6px;
	color:#333;
	margin:0 10px;
	text-decoration:none;
}
.menu > ul > li:hover > a{
	color: #eab830;
}
.menu > ul > li > a.active:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: 10;
    bottom: -6px;
    left: 50%;
    margin-left: -3px;
    border-style: solid;
    border-width: 0 3px 3px;
    border-color: transparent transparent #eab830;
}
.menu > ul > li > a.active:before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 32px);
    height: 2px;
    z-index: 10;
    bottom: -8px;
    left: 16px;
	background:#eab830;
}
a.toggle-search{
	padding: 3px 7px;
    border: 2px solid #333;
	display:block;
    color: #333;
	margin-top:-4px;
	margin-left: 5px;
	overflow: hidden;
	position: relative;
	transition: all .25s cubic-bezier(.66,.36,.17,.91);
}
a.toggle-search:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #eab830;
    z-index: 0;
	transition: all .25s cubic-bezier(.66,.36,.17,.91);
}
a.toggle-search i{
	position:relative;
	z-index:2;
}
a.toggle-search:hover{
	border-color: #eab830;
	color:#fff;
}
a.toggle-search:hover:after{
	left:0;
}
.modal-open .page-container {
    filter: blur(2px);
}
#searchModal .modal-content{
	background-color: transparent;
    border: none;
}
#searchModal .modal-dialog{
	max-width: 600px;
}
#searchModal form{
	background:#fff;
	border-radius:5px;
}
#searchModal form button{
	background: #eab830;
	height: 67px;
    width: 70px;
    border: 0;
    font-size: 24px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#searchModal form input{
	flex:1;
	width:100%;
	border:0;
	height: 67px;
	line-height: 67px;
	border-radius:5px 0 0 5px;
	padding:0 15px;
	font-size:20px;
	outline:0;
}
.main-slide{
	height:750px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:no-repeat center center;
	background-size:cover;
}
.main-slide .title1{
	color:#eab830;
	font-size:50px;
}
.main-slide .title2{
	color:#fff;
	padding-bottom:10px;
	font-size:70px;
}
.btn-slider{
	border:2px solid #fff;
	padding:0 35px;
	height:58px;
	line-height:54px;
	border-radius:29px;
	color:#fff;
	font-size:17px;
}
.btn-slider:hover{
	color:#fff;
	background:#2c76e3;
	border-color:#2c76e3;
}
.main-block{
	position:relative;
	z-index:10;
	margin:-100px 0 50px 0;
}
.main-block > a{
	display:flex;
	width:calc(20% - 20px);
	margin:0 10px 30px 10px;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	min-height: 220px;
	padding:15px;
	text-decoration:none;
	color:#fff;
	transition: .3s ease;
	border-radius:5px;
	font-weight:bold;
}
.main-block > a:hover{
	transform: translateY(-10px);
}
.main-block > a .image{
	margin-bottom:10px;
}
.main-block > a.main1{
	background:#fbb911;
}
.main-block > a.main2{
	background:#307ad5;
}
.main-block > a.main3{
	background:#1ec1d9;
}
.main-block > a.main4{
	background:#10c45c;
}
.main-block > a.main5{
	background:#fa4caa;
}
.main-block > a.main6{
	background:#7f7f7f;
}
.cart-one{
	border: 1px solid #e0e0e0;
	height:100%;
}
.cart-one .image a,.cart-one-inline .image a{
	display:block;
	position:relative;
}
.cart-one .image a .note,.cart-one-inline .image a .note{
	position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px 4px;
    min-width: 47px;
    background-color: #f09b23;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    z-index: 2;
}
.cart-one .text{
	padding:10px 15px;
}
.cart-one .text.pt0 {
    padding-top: 0px;
}
.cart-one .short-info{
	padding:5px 0 15px 0;
	border-bottom:1px solid #e0e0e0;
}
.cart-one .stars{
	padding-top:10px;
}
.cart-one .stars-block i,.cart-one-inline .stars-block i{
	color:#efb467;
}
.bg1{
    height: 600px;
    background: url(../site_img/bg1.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
	padding:80px 0;
	margin:80px 0;
    background-attachment: fixed;
}
.fs80{
	font-size:80px;
	line-height:1.2;
}
.news-date .fs22{
	line-height:20px;
}
.news-one a:hover{
	text-decoration:none;
	color:#2c75e4;
}
.news-one .fs18{
	line-height:1.25;
}
.news-one .news-text{
	flex:1;
	width:100%;
}
.news-one .news-date{
    color: #eab830;
	border:2px solid #eab830;
	width:50px;
	padding:4px 0;
}
/*.news-one .news-date .fs22{
	border-bottom:2px solid #eab830;
	margin-bottom:4px;
}*/
.news-one .news-text .tags{
	font-size:12px;
	color: #aaa;
}
.news-one .news-text .line{
	clear:both;
	height:3px;
	width:31px;
	background:#2c75e4;
	margin-bottom:14px;
}
.news-text img{
	max-width:100%;
	height:auto;
}
.news-one .news-text .tags a{
    color: #2c75e4;
}
.news-one .image a,.day-one .image a{
	display:block;
	position:relative;
}
.news-one .image a:before,.day-one .image a:before{
	transition: all .25s ease-in-out;
	content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    visibility: hidden;
    opacity: 0;
}
.news-one .image a:hover:before,.news-one .image a:hover:after,.day-one .image a:hover:before,.day-one .image a:hover:after{
	visibility: visible;
    opacity: 1;
    color: #fff;
}
.news-one .image a:after,.day-one .image a:after{
    font-family: icomoon;
    content: "\f0fe";
	font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 30px;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
}
.bg2{
    background: url(../site_img/bg2.jpg) no-repeat center;
    background-size: cover;
	padding:35px 0 0 0;
	color:#000;
}
.bg2-2{
    background: url(../site_img/bg2-2.png);
    padding: 147px 0 6px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.course-one .text{
	padding:15px;
	background:#fff;
}
.course-one .clock {
    padding-top: 13px;
    margin-top: 15px;
    border-top: 1px solid #eee;
}
.footer{
	background-color: #273044;
	padding: 63px 0 25px;
    color: #fff;
}
.footer a{
	color: #2c75e4;
}
.footer a.btn-white, a.btn-white{
	color:#fff;
	border:2px solid #fff;
	border-radius:0;
	overflow:hidden;
	position:relative;
}
a.btn-white:after {
    content: '';
	transition: all .25s cubic-bezier(.66,.36,.17,.91);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background: rgba(0,0,0,.1);
    z-index: 1;
}
a.btn-white:hover:after{
	left:0;
}
.footer .color-gray{
	color:#aaa;
}
.popular-one{
	margin-bottom:15px;
}
.popular-one .image{
	width:50px;
}
.popular-one .text{
	flex:1;
	width:100%;
}
.footer .popular-one a{
	color: #fff;
	text-decoration:none;
}
.footer .popular-one a:hover,.footer .bottom-menu a:hover{
	color: #eab830;
}
.footer .bottom-menu a{
	display:block;
	border-bottom: 1px solid rgba(255,255,255,.2);
	padding:10px 10px 10px 20px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	position:relative;
}
.footer .bottom-menu li:last-child a{
	border-bottom:0;
}
.footer .bottom-menu a:after {
    width: 5px;
    height: 7px;
    z-index: 10;
    left: 5px;
    background-image: url(../site_img/li.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 5px 7px;
    content: '';
	display: block;
    position: absolute;
	top:16px;
}
.footer .icon{
	color: #aaa;
	font-size:16px;
}
.breads{
    background-color: #f6f6f6;
    padding: 9px 0 7px;
    margin-bottom: 60px;
	border-top:3px solid #dddddd;
	color: #aaa;
    border-bottom: 1px solid #f0f2f5;
}
.breads a{
	color: #aaa;
}
.breads a:hover{
	text-decoration:none;
	color: #eab830;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	margin:0;
	line-height: 55px;
    letter-spacing: -.4px;
    font-size: 30px;
}
.filter-body .select2-wrapper{
	width:100%;
}
.select2-wrapper{
	width:250px;
}
.select2-container .select2-selection--single {
    height: 45px;
	outline:0;
    border-radius: 5px;
    border: 1px solid #babdc1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #293145;
    line-height: 44px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px;
    width: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #0050b4 transparent transparent transparent;
}
.filter-form{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.18), inset 0 3px 0 0 rgba(25,94,200,.004);
}
.filter-form .filter-one{
	border-top: 1px solid #e0e0e0;
}
.filter-form .filter-one:first-child {
    border-top: 3px solid #385bce;
}
.filter-form .filter-header{
    position: relative;
    padding: 21px 60px 21px 25px;
    cursor: pointer;
	font-size: 16px;
    color: #232628;
    font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}
.filter-form .filter-header .toggler {
    position: absolute;
    right: 25px;
    top: 50%;
    height: 20px;
    width: 20px;
    margin: -10px 0 0;
}
.filter-form .filter-one.active .toggler:before {
    opacity: 0;
}
.filter-form .filter-one .toggler:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background-color: #385bce;
    transition: .3s ease;
    opacity: 1;
}
.filter-form .filter-one.active .toggler:after {
    background-color: #9397a1;
}
.filter-form .filter-one .toggler:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 100%;
    height: 2px;
    background-color: #385bce;
    transition: .3s ease;
}
.custom-checkbox label {
	display:block;
    margin: 0 0 10px;
    vertical-align: top;
    cursor: pointer;
}
.filter-body {
    padding: 0 25px 25px 25px;
}
.custom-checkbox label span {
    font-size: 14px;
    line-height: 18px;
    color: #273044;
    vertical-align: top;	
	display:inline-block;
}
.custom-checkbox label > span:not(.ch){
	max-width: calc(100% - 40px);
}
.custom-checkbox label input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 10000;
}
.custom-checkbox label span.ch {
    position: relative;
    top: 0;
    border: 0;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    overflow: hidden;
	margin-right:5px;
	background-color: #dfe1e5;
}
.custom-checkbox label input:checked+span {
    background-color: #1db874;
	width:18px;
	display:inline-block;
}
.custom-checkbox label i {
    position: relative;
    top: -1px;
	left:4px;
    font-size: 10px;
    color: #fff;
	transform: translateY(3px);
    transition: .3s ease;
	opacity: 0;
}
.custom-checkbox label input:checked+span i {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.filter-btns{
	padding: 10px 25px 30px;
}
a.btn-blue2{
	padding:0;
	border-radius:0;
}
.filter-btns button,a.btn-blue2,a.btn-orange, button.btn-orange{
	margin: 0 0 10px;
    background-color: #385bce;
    color: #fff;
    border: 0;
	display:block;
    box-shadow: none;
    height: 49px;
	line-height: 49px;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s ease;
	font-family: 'Montserrat', sans-serif;
	cursor:pointer;
}
button.btn-orange{
	padding: 0 20px;
    max-width: 150px;
}
#modalVuzs input[type=text],#modalVuzs input[type=email]{
	width:100%;
	border:0;
	height:32px;
	line-height:31px;
	border-bottom:1px solid #ccc;
	outline:0;
	padding:0 5px;
}
#modalVuzs textarea{
	width:100%;
	height:100px;
	line-height:31px;
	border:1px solid #ccc;
	outline:0;
	padding:5px;
}
a.btn-orange{
	display:inline-block;
	display: inline-block;
    width: auto;
    padding: 0 30px;
	border-radius:25px;
	background-color: #eab830;
	margin: 0;
}
button.btn-orange:hover{
	background-color: #17d292;
}
a.btn-orange:hover,button.btn-orange:hover{
	color:#fff;
}
a.btn-blue2:hover{
	color:#fff;
}
.filter-btns button:hover{
	background-color: #17d292;
}
.filter-btns a span{
	display:inline-block;
	position: relative;
    top: -1px;
    border-bottom: 1px dashed #273044;
}
.filter-btns a {
    color: #273044;
	text-decoration:none;
    opacity: .6;
}
.filter-btns a:hover{
	opacity:1;
	color: #2c75e4;
}
.page-link{
	color: #2c75e4;
}
.page-item.active .page-link {
    background-color: #2c75e4;
    border-color: #2c75e4;
}
a.btn-blue,.btn-blue{
	background-color: #2c75e4;
	color:#fff;
	padding:0 30px;
	height:50px;
	line-height:50px;
	border-radius:25px;
	font-size:14px;
	text-transform: uppercase;
    font-weight: 600;
    transition: .3s ease;
	font-family: 'Montserrat', sans-serif;
}
a.btn-blue:hover,.btn-blue:hover{
	color:#fff;
}
.cart-one-inline .image{
	width:200px;
	margin-right:30px;
	position:relative;
}
.cart-one-inline .text{
	width:100%;
	flex:1;
}
.tabs-a-block a{
	display:inline-block;
	color:#2c76e3;
	padding:0 20px;
	margin:0 20px 10px 0;
	text-decoration:none;
	height:40px;
	line-height:36px;
	border:2px solid #2c76e3;
	font-size:14px;
	text-transform: uppercase;
    font-weight: 600;
    transition: .3s ease;
	font-family: 'Montserrat', sans-serif;
}
.tabs-a-block a:hover,.tabs-a-block a.active{
	color:#fff;
	background:#2c76e3;
}
.cart-one-inline .full-btn{
	width:140px;
}
.info-lines{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:2px solid #2c75e4;
}
.info-lines a{
	font-size:16px;
	background:#f0f2f5;
	text-decoration:none;
    color: #273044;
	border-bottom:1px solid  rgba(163,163,163,.3);
	padding:13px 15px;
}
.info-lines .icon{
	font-size:25px;
	width: 30px;
	margin-right:15px;
}
.info-lines a:last-child{
	border-bottom:none;
}
.info2-cart{
	margin-bottom:30px;
}
.info2-cart h4{
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	font-size:18px;
}
.info2-cart li{
	display:block;
	padding:5px 0;
	border-bottom:1px dashed rgba(163,163,163,.3);
}
.info2-cart li:last-child{
	border-bottom:none;
}
.inline-tabs a{
	flex: 1 0;
	display:block;
	background-color: #273044;
	color:#fff;
	font-size: 15px;
	text-align: center;
	padding:20px 10px;
	white-space: nowrap;
	text-decoration:none;
    font-weight: 600;	
	font-family: 'Montserrat', sans-serif;
}
.inline-tabs a.active{
	background-color: #2c75e4;
}
.inline-tabs-content > div {
    padding: 40px 50px;
    background-color: #f5f5f9;
}
.inline-tabs-content img, .inline-tabs-content iframe{
	max-width:100%;
}
.inline-tabs-content > div#tab1 p {
    margin-bottom: 15px;
	color: #555;
	font-size:15px;
    line-height: 28px;
}
.inline-tabs-content > div#tab1 h4{
	margin-bottom: 15px;
	font-size:18px;
}
.inline-tabs-content > div#tab1 li{
	font-size:15px;
	margin-bottom:15px;
}
.inline-tabs-content > div#tab1 ul{
	padding-left:15px;
}
.inline-tabs-content > div#tab1 p:last-child{
	 margin-bottom: 0px;
}
.cart-one-inline.type3{
	flex-wrap:wrap;
}
.inline-tabs a.order-btn{
	background:#eab830;
}
.inline-tabs.long-block{
	flex-wrap:wrap;
}
.inline-tabs.long-block a{
	padding:20px;
}
.sidebar-area{
	border-top:1px solid #dcdcdc;
	position: relative;
    padding-top: 40px;
    margin-bottom: 30px;
}
.sidebar-area:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
	width: 50px;
    height: 3px;
    background-color: #eab830;
	top: -1px;
    left: 0;
}
.sidebar-area h4{
	margin: 0 0 20px;
    text-transform: uppercase;
	line-height: 34px;
    font-weight: 600;
	font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.sidebar-area:after {
	width: 25px;
	content: '';
    display: block;
    position: absolute;
	background-color: #fff;
    z-index: 10;
    top: -1px;
	height:1px;
    left: 50px;
}
.sidebar-area .image{
	width:62px;
}
.day-one-inner{
	border: 1px solid #e1e2e4;
	margin-bottom:30px;
	padding:25px;
}
.day-one-inner .address-block,.day-one-inner .time-block{
	flex:1;
}
.day-one-inner .btn-block{
	width:172px;
}
.inline-tabs2{
	border-top:3px solid #2c75e4;
	margin-bottom:30px;
}
.inline-tabs2 a{
	flex:1;
	display:block;
	text-align:Center;
	line-height:46px;
	background:#2c75e4;
	color:#fff;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	 text-transform: uppercase;
	text-decoration:none;
}
.inline-tabs2 a.active{
	color: #457992;
	background:#fff;
}
.inline-tabs-content2 > div{
	padding: 37px 51px 44px;
    background-color: #f0f2f5;
}
.pager{
	text-align:center;
	margin:30px 0;
}
.pager a,.pager em{
	display:inline-block;
	font-style:normal;
	padding:0 5px;
	margin:0 2px;
	height:32px;
	line-height:30px;
	min-width:32px;
    border: 1px solid #2c76e3;
	color:#2c76e3;
	text-decoration:none;
}
.pager em{
	color:#fff;
	background:#2c76e3;
}
.news-one-info{
	border-top: 1px solid #e1e2e4;
	padding:8px 0 15px 0;
}
.news-image-one{
	float:left;
	max-width:380px;
	margin:0 20px 20px 0;
	border: 1px solid #e1e2e4;
}
a.news-tag-one{
	display: inline-block;
    margin: 0 3px 9px;
    padding: 5px 9px;
    color: #aaa;
    background-color: #f0f2f5;
    border: 1px solid #f5f5f5;
    font-size: 13px;
}
a.news-tag-one:hover{
	color: #fff;
	text-decoration:none;
    background-color: #2c75e4;
    border: 1px solid #2c75e4;
}
.cart-one-inline{
	padding: 5px;
}
.marked-div{
	background: #fff9c1;	
}
div[data-oembed-url]{
	width:100%;
}
blockquote{
	padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}
.image-style-side {
	float: right;
	margin-left:15px;
}
.image>figcaption {
    text-align: center;
    word-break: break-word;
    color: #333;
    background-color: #f7f7f7;
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}
#map{
	width:100%;
	height:300px;
}
.banner-zone{
	max-width:728px;
	margin:20px auto;
}
.banner-zone video{
	width:100%;
}
.banner-zone a{
	display:block;
}
.social-footer a{
	display:inline-block;
	font-size:18px;
	margin-right:5px;
	color:#fff;
	height:32px;
	width:32px;
	line-height:28px;
	border:2px solid #fff;
	text-align:center;
}

@media (max-width: 1200px) {
	.cart-one-inline.type3 .image{
		width:100%;
		margin-right: 0;
	}
	.cart-one-inline.type3 .info-block{
		margin-left: 0!important;
	}	
	.breads {
		padding-bottom:40px;
	}
	.info-lines a {
		font-size: 15px;
	}
	.inline-tabs-content > div {
		padding: 15px;
	}
	#tab2 .cart-one-inline .info-block{
		margin-left:auto !important;
		width: auto;
	}
	#tab4 .cart-one-inline .info-block3 > div {
		width: auto;
	}
	.cart-one-inline .info-block3{
		width:100%;
	}
	.cart-one-inline .info-block3 > div{
		width:33%;
	}
	.cart-one-inline{
		flex-wrap:wrap;
	}
	.cart-one-inline.type2{
		flex-wrap: nowrap;
	}
	.cart-one-inline .info-block{
		width:100%;
		margin-top:10px;
		margin-left:230px!important;
	}
	.menu > ul > li > a {
		text-transform: none;
		padding: 0 9px;
		margin: 0;
	}
	.city-popup {
		width: 900px;
	}
	.main-slide {
		height: 650px;
	}
	.main-slide .title1 {
		font-size: 40px;
	}
	.main-slide .title2 {
		font-size: 50px;
	}
	.fs18 {
		font-size: 16px !important;
	}
	.main-block > a .text{
		word-break: break-word;
	}
	.fs36 {
		font-size: 30px !important;
	}
	.cart-one .text {
		padding: 10px;
	}
	.bg1 {
		height: 500px;
		padding: 50px 0;
		margin: 50px 0;
	}
	.bg2-2 {
		padding: 80px 0 6px;
	}
	.fs40 {
		font-size: 34px !important;
	}
	.fs32 {
		font-size: 26px !important;
	}
	.main-block {
		flex-wrap: wrap;
		justify-content: center;
		margin: -120px 0 20px 0;
	}
	.main-block > a {
		width:200px;
		min-height: 160px;
	}
}
@media (max-width: 992px) {
	.info-lines {
		display:flex;
		flex-wrap:wrap;
	}
	.info-lines a,.info-lines a:last-child {
		font-size: 15px;
		width: 50%;
		border: 1px solid rgba(163,163,163,.3);
	}
	.info2-cart-wrapper{
		justify-content:space-between;
	}
	.cart-one-inline.type2{
		flex-wrap: wrap;
	}
	.cart-one-inline .info-block{
		margin-left:0px!important;
	}
	.cart-one-inline .image{
		width:100%;
	}
	.header-h1{
		flex-wrap:wrap;
	}
	.header-h1 .ml-auto{
		width:100%;
	}
	h1 {
		line-height: 1.4;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.fancybox-content{
		padding:15px;
	}
	.city-popup {
		width: 720px;
	}
	.search-city,.regions-block .regions-group {
		width: 40%;
	}
	.regions-block .regions-group{
		margin-right:15px;
	}
	.main-slide .title1 {
		font-size: 30px;
	}
	.main-slide .title2 {
		font-size: 40px;
	}
	.menu > ul > li > a {
		text-align: center;
	}
	.fs36 {
		font-size: 25px !important;
	}
	.fs80 {
		font-size: 50px;
	}
	.bg1 {
		height: 400px;
	}
	.fs50 {
		font-size: 40px !important;
	}
	.fs16 {
		font-size: 14px !important;
	}
	.bg2-2 {
		padding: 60px 0 6px;
	}
	.fs40 {
		font-size: 30px !important;
	}
	.fs32 {
		font-size: 22px !important;
	}
	#tab2 .cart-one-inline .image,#tab3 .cart-one-inline .image,#tab4 .cart-one-inline .image {
		width: 200px;
	}
}
@media (max-width: 767px) {	
	.banner-zone{
		max-width:300px;
		margin:10px auto;
	}
	#tab2 .cart-one-inline .image, #tab3 .cart-one-inline .image, #tab4 .cart-one-inline .image {
		width: 100%;
		margin-right: 0;
	}
	#tab2 .cart-one-inline .info-block {
		width: 100%;
	}
	.inline-tabs-content .cart-one-inline .ml30 {
		margin-left: 10px;
	}
	.inline-tabs a {
		padding: 10px 10px;
	}
	.info-lines a, .info-lines a:last-child {
		width: 100%;
	}
	.cart-one-inline .info-block3{
		flex-wrap:wrap;
	}
	.cart-one-inline .info-block3 > div {
		width: calc(50% - 20px);
	}
	.cart-one-inline .info-block3 > div.full-btn {
		width: 100%;
		margin-top:10px;
	}
	.breads {
		margin-bottom: 30px;
	}
	a.btn-orange{
		margin-top:10px;
	}
	.info-block2{
		flex-wrap:wrap;
	}
	.cart-one-inline .ml30{
		margin-left:5px;
	}
	.bg-blue .d-flex{
		flex-wrap:wrap;
	}
	.bg-blue .ml40{
		margin-left:0;
		margin-top:10px;
		text-align:center;
		width:100%;
	}
	a.toggle-menu{
		color: #eab830;
	}
	.menu{
		width:100%;
	}
	.menu > ul {		
		border-top: 3px solid #e5e5e5;
		display:none;
	}
	.menu > ul ul:before{
		height:0;
	}
	.menu > ul > li {
		position: relative;
		width: 100%;
		margin-bottom: 0;
		border-bottom: 1px solid #e1e2e4;
	}
	.menu > ul > li.has-submenu:after{
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content:"\f054";
		position:absolute;
		right:10px;
		top:16px;
		font-size:20px;
		color:#aaa;
	}
	.menu > ul ul {
		visibility: visible;
		width: 100%;
		position: static;
		margin: 0;
		padding: 10px 0;
		background-color: #fff;
		opacity: 1;
		box-shadow: none;
		display:none;
	}
	.menu > ul ul a {
		padding: 8px 20px;
		font-size: 14px;
	}
	.menu > ul > li  > a {
		display: block;
		padding: 20px;
		text-align:left;
		background-color: #f0f2f5;
		text-transform: uppercase;
		font-size: 16px;
	}
	.menu > ul > li > a.active:before,.menu > ul > li > a.active:after{
		border:0;
		height:0;
		width:0;
	}
	.main-slide .title1 {
		font-size: 20px;
	}
	.main-slide .title2 {
		font-size: 24px;
	}
	.main-slide {
		height: 450px;
	}
	.main-block > a {
		width: calc(50% - 20px);
		padding: 5px;
	}
	.fs18 {
		font-size: 14px !important;
	}
	.main-block {
		flex-wrap: wrap;
		justify-content: center;
		margin: -100px 0 0px 0;
	}
	.menu form{
		margin-bottom:15px;
	}
	.menu form button{
		background: #eab830;
		height: 50px;
		width: 50px;
		border: 0;
		font-size: 20px;
		color: #fff;
	}
	.menu form input{
		flex:1;
		width:100%;
		border:1px solid #f0f2f5;
		height: 50px;
		line-height: 50px;
		padding:0 15px;
		font-size:16px;
		outline:0;
	}
	.fs36 {
		font-size: 20px !important;
	}
	.bg1 {
		height: 815px;
	}
	.bg2-2 {
		background: none;
		padding:30px 0;
	}
	.city-popup {
		width: 100%;
		min-width: 230px;
	}
	.regions-block .regions-group {
		margin-right: 0;
	}
	.temp-citys{
		padding-left:10px;
	}
	.search-city, .regions-block .regions-group {
		width: 100%;
	}
	.fs24 {
		font-size: 19px !important;
	}
	h1 {
		line-height: 1.4;
		font-size: 20px;
		margin-bottom: 20px;
	}
	.sorting-block{
		flex-wrap:wrap;
	}
	.filter-form{
		display:none;
	}
}